body {
	margin: 0;
}

/* ::-webkit-scrollbar {
	display: none;
} */

.mainHeader {
	text-align: left;
	background: linear-gradient(60deg,rgb(0, 79, 159) 60%,rgb(1, 115, 228) 100%);
	padding: 1em;
}

.scrollmenu {
	background-color: rgb(0, 79, 159);
	overflow: auto;
	white-space: nowrap;
	padding-top: 1em;
	padding-bottom: 1em;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	transition: 0.5s;
}

.sticky + .content {
	padding-top: 10em;
	transition: 0.5s;
}

.topNavigationText {
	color: rgb(255, 255, 255);
	font-size: 17px;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.pointer {
	cursor: pointer;
}

.itemList {
	text-align: left;
	margin-left: 4em;
	margin-right: 4em;
	margin-bottom: 1em;
	cursor: pointer;
}

.pageTitle {
	padding-top: 0.5em;
	padding-bottom: 1em;
	text-align: center;
	cursor: default;
}

.contentTable {
	align-items: center;
	color: rgb(0, 0, 0);
	width: 95%;
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 1em;
	font-size: 15px;
	cursor: default;
}

.name {
	text-align: left;
	font-size: 15px;
	width: 50%;
	cursor: pointer;
	padding-top: 0.75em;
}

.description {
	width: 20%;
	text-align: left;
	padding-top: 0.75em;
}

.button {
	background-color: rgb(0, 79, 159);
	color: rgb(255, 255, 255);
	border-color: transparent;
	border-radius: 0.4em 0.4em 0.4em 0.4em;
	font-size: 14px;
	margin-left: 3em;
	margin-bottom: 2.7em;
	margin-top: 2.7em;
}

.breadcrumb {
	background-color: rgb(247, 148, 30);
	font-size: 14px;
	padding: 8px;
	list-style: none;
	cursor: default;
	color: rgb(255, 255, 255);
}

.breadcrumb-text{
	color: rgb(255, 255, 255);
	font-size: 14px;
}