.breadcrumb {
  font-family: 'Futura', sans-serif;
  color: var(--text-color);
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 85%;
  box-sizing: border-box;
  padding-top: 3em;
  padding-bottom: 3em;
}

.breadcrumb-separator {
  margin-right: 0.5em;
  color: var(--text-color);
  display: inline-block;
  cursor: default;
}

.breadcrumb span {
  margin-right: 0.5em;
  color: var(--text-color);
  display: inline-block;
  cursor: pointer;
}

.breadcrumb::-webkit-scrollbar {
  display: none;
}

.breadcrumb-wrapper {
  max-width: 55%;
  overflow: hidden;
}

.cardContent {
  color: rgb(93, 93, 93);
  cursor: default;
}

.cardImage {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s ease;
  img {
    display: block;
    width: 100%;
  }
}

.cardSubtitle {
  color: rgb(0, 0, 0);
  cursor: default;
}

.cardTitle {
  color: var(--ion-color-secondary-shade);
  cursor: pointer;
  text-decoration: none;
}

.contentWrapper {
  margin-bottom: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.description {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: 'Futura', sans-serif;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: calc(30vh);
  border-radius: 16px;
  padding: 1em;
  font-size: 18px;
  text-align: center;

  -ms-user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  user-select: none; 
}

.exitButton{
   --background: rgb(0, 79, 159);
   color: rgb(255, 255, 255);
}

.footer {
  text-align: center;
  font-size: 14px;
  font-family: 'Futura', sans-serif;
  color: rgb(255, 255, 255);
}

.generalErrorMessage {
  text-align: center;
  font-size: 20px;
  font-family: 'Futura';
  margin-left: 8%;
  margin-right: 8%;
  margin-top: calc(20vh);
  border-radius: 16px;
  padding: 1em;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); //the user can change the amount of items per row just by updating the repeat value
  gap: 0.5em;
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.headerLogo {
  height: 24px;

  @media (max-width: 500px) {
    display: none;
  }
}

.homeButton {
  background-color: transparent;
  margin-right: 1.5em;

  img {
    display: block;
  }

  @media (max-width: 500px) {
    display: none;
  }
}

.itemIcon {
  height: 24px;
  margin-right: 8px;
}

.levelTitle {
  text-align: left;
  font-family: 'Futura-Bold', sans-serif;
  font-size: 20px;
  margin-left: 2em;
}

.listTitle {
  font-family: 'Futura-Bold', sans-serif;
  cursor: pointer;
}

.menuButton {
  color: rgb(255, 255, 255);
  margin-right: 8px;

  @media (max-width: 500px) {
    margin-right: 0;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  position: sticky; 
  top: 0; 
  z-index: 50;
  background-color: var(--ion-color-light);
  width: 100%;
  left: 0;
  padding: 10px;
}

.navButtons {
  margin: 0;
  max-width: 15%;
  width: 112px;
  border-radius: 0em 5em 5em 0em;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.notFoundMessage {
  text-align: center;
  font-size: 20px;
  font-family: 'Futura';
  margin-top: calc(27vh);
}

.rightHeaderImg {
  margin-right: 1em;

  @media (max-width: 500px) {
    display: none;
  }
}

.parentTitle {
  font-size: 22px;
  font-family: 'Futura-Bold', sans-serif;
  color: rgb(0, 0, 0);
  cursor: default;
}

.popoverButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  color: var(--ion-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.popoverContent {
  margin: 5px;
  p {
    font-size: 20px;
    font-family: 'Futura', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
  }
}

.selectionItem{
  font-family: 'Futura', sans-serif;
  margin-bottom: 2em;
  margin-left: 1em;
  cursor: pointer;
}

.title {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Futura-Bold', sans-serif;
  text-align: center;
  flex-grow: 1;

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

/*Ionic component's styling*/

ion-button {
  text-transform: none;
  font-size: 16px;
  font-family: 'Futura', sans-serif;
}

ion-card {
  width: 96%;
  height: 96%;
  font-family: 'Futura', sans-serif;
  margin-top: 1em;
  @media (max-width: 500px) {
    width: 90%;
    height: 90;
  }
}

ion-item {
  margin: 0.5em;
}

ion-searchbar.custom {
  --background: var(--ion-color-secondary-shade);
  --color: var(--ion-color-primary-contrast);
  --placeholder-color: var(--ion-color-primary-contrast);
  --icon-color: var(--ion-color-primary-contrast);
  --clear-button-color: var(--ion-color-primary-contrast);
  width: 200px;
  --border-radius: 4px;
  margin-right: 1em;
  text-align: left;

  @media (max-width: 500px) {
    display: none;
  }
}

ion-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}